@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    margin-top: 8vh;
    
    font-family: 'Red Rose', cursive;
}




/* SCROLLBAR */

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: black;
}
::-webkit-scrollbar-thumb {
    background: rgb(230, 97, 0);
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(230, 97, 0);
}





/* Navbar */

nav {
    background-color: black;
    position: fixed;
    height: 8vh;
    width: 100%;
    top: 0;
    z-index: 100;
    transition: all 1s;
}
label.logo {
    vertical-align: top;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 8vh;
    color: rgb(226, 226, 226);
    float: right;
    margin-right: 3%;
}
#back{
    vertical-align: top;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 8vh;
    color: rgb(226, 226, 226);
}
#back{
    text-align: left;
    margin-left: 5%;
    float: left;
    font-size: 25px;
    cursor: pointer;
}
#back:hover{
    cursor: pointer;
}
#back label{
    cursor: pointer;
}
#mfc{
    display: none;
    width: auto;
}
nav img{
    width: 11%;
    height: 6vh;
    float: right;
    margin-right: 5%;
    margin-top: 1vh;
    display: none;
}
#back:hover{
    color: rgb(230, 97, 0);
}
#mfc:hover{
    color: rgb(230, 97, 0);
}
.logo:hover{
    color: rgb(230, 97, 0);
}
.scrolled {
    background-color: black;
}



.video_selector{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -999;
}


/*EVENTS*/
.category-slides-1 h2{
    width: 80%;
    text-align: center;
    padding-bottom: 15px;
}
.poster{
    width: 80%;
    padding-bottom: 50px;
}
.about-pages div p, .about-pages-rivera div p, .about-pages-daily div p{
    text-align: center;
}


.events-detail{
    background: transparent;
}
.about{
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
}
.about-title{
    width: 35%;
    height: 100vh;
    display: flex;
    background-color: rgb(230, 97, 0);
    padding-top: 10vh;
    align-items: center;
    margin: 0!important;
    color: black;
    font-family: 'Black Ops One', cursive !important;
    font-size: 55px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: 10px;
    box-shadow: 0 0 30px #d35400;
}
.about-pages{
    width: 65%;
}
.about-pages div{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.about-pages div p{
    width: 80%;
    font-size: 18px;
    line-height: 30px;
}
.about-pages div:nth-child(1){
    background-color: rgb(20, 92, 38);
    color: black;
}
.about-pages div:nth-child(2){
    background-color: rgb(0, 3, 99);
    color: rgb(158, 184, 224);
}
.about-pages div:nth-child(3){
    background-color: rgb(31,88,107);
}




.about-rivera{
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
}
.about-pages-rivera{
    width: 65%;
}
.about-pages-rivera div{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.about-pages-rivera div p{
    width: 80%;
    font-size: 18px;
    line-height: 30px;
}
.about-pages-rivera div:nth-child(1){
    background-color: rgb(56,134,89);
}
.about-pages-rivera div:nth-child(2){
    background-color: rgb(129,42,110);
}
.about-pages-rivera div:nth-child(3){
    background-color: rgb(31,88,107);
}
.about-pages-rivera div:nth-child(4){
    background-color: rgb(129,42,110);
}
.about-daily{
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
}
.about-pages-daily{
    width: 65%;
}
.about-pages-daily div{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.about-pages-daily div p{
    width: 80%;
    font-size: 18px;
    line-height: 30px;
}
.about-pages-daily div:nth-child(1){
    background-color: rgb(56,134,89);
}
.about-pages-daily div:nth-child(2){
    background-color: rgb(129,42,110);
}
.about-pages-daily div:nth-child(3){
    background-color: rgb(31,88,107);
}
.about-pages-daily div:nth-child(4){
    background-color: rgb(129,42,110);
}
.hidden-content{
    display: none;
}




@media only screen and (max-width: 1334px) {
    label.logo {
        font-size: 20px;
        margin-bottom: 0;
        margin-top: 0.4vh;
    }
    #back{
        font-size: 20px;
    }
}
@media only screen and (max-width: 1200px){
    .about{
        margin-left: 10%;
        margin-right: 10%;
    }
    .about-daily{
        margin-left: 10%;
        margin-right: 10%;
    }
    .about-rivera{
        margin-left: 10%;
        margin-right: 10%;
    }
    body {
        overflow-x: hidden;
    }
    nav {
        background: black;
    }
}
@media only screen and (max-width: 950px){
    .about{
        margin-left: 0;
        margin-right: 0;
    }
    .about-daily{
        margin-left: 0;
        margin-right: 0;
    }
    .about-rivera{
        margin-left: 0;
        margin-right: 0;
    }
    .about-title h2{
        font-size: 35px;
    }
}
@media only screen and (max-width: 600px){
    .about-title{
        width: 25%;
        background: #08192d;
    }
    .about-pages, .about-pages-rivera, .about-pages-daily{
        width: 85%;
    }
    .about-pages div p, .about-pages-rivera div p, .about-pages-daily div p{
      font-size: 14px !important;
      line-height: 1.4;
    }
    .about-title p{
        color: rgb(230, 97, 0);
        font-size: 40px;
        letter-spacing: 5px;
    }
    nav {
        background: black;
    }
    label.logo {
        font-size: 15px;
        margin-top: 0.3vh;
        display: none;
    }
    #back{
        display: block;
        font-size: 15px;
    }
    nav img{
        display: block;
    }
    .poster{
        width: 95%;
    }
}
