body{
    padding: 0;
    margin: 0;
    background-color: blue;
    font-family: 'Red Rose', cursive;
}

header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    background-size: cover;
    color: white;
}

.about{
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
}

.about-title{
    width: 35%;
    height: 100vh;
    display: flex;
    background-color: orange;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 0!important;
}

.about-pages{
    width: 65%;
}

.about-pages div{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.about-pages div p{
    width: 80%;
    font-size: 18px;
    line-height: 30px;
}

.about-pages div:nth-child(1){
    background-color: rgb(56,134,89);
}

.about-pages div:nth-child(2){
    background-color: rgb(129,42,110);
}

.about-pages div:nth-child(3){
    background-color: rgb(31,88,107);
}



.about-rivera{
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
}

.about-pages-rivera{
    width: 65%;
}

.about-pages-rivera div{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.about-pages-rivera div p{
    width: 80%;
    font-size: 18px;
    line-height: 30px;
}

.about-pages-rivera div:nth-child(1){
    background-color: rgb(56,134,89);
}

.about-pages-rivera div:nth-child(2){
    background-color: rgb(129,42,110);
}

.about-pages-rivera div:nth-child(3){
    background-color: rgb(31,88,107);
}

.about-pages-rivera div:nth-child(4){
    background-color: rgb(129,42,110);
}

.about-daily{
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
}

.about-pages-daily{
    width: 65%;
}

.about-pages-daily div{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.about-pages-daily div p{
    width: 80%;
    font-size: 18px;
    line-height: 30px;
}

.about-pages-daily div:nth-child(1){
    background-color: rgb(56,134,89);
}

.about-pages-daily div:nth-child(2){
    background-color: rgb(129,42,110);
}

.about-pages-daily div:nth-child(3){
    background-color: rgb(31,88,107);
}

.about-pages-daily div:nth-child(4){
    background-color: rgb(129,42,110);
}

footer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}

.hidden-content{
    display: none;
}

@media only screen and (max-width: 1200px){
    .about{
        margin-left: 10%;
        margin-right: 10%;
    }

    .about-daily{
        margin-left: 10%;
        margin-right: 10%;
    }

    .about-rivera{
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media only screen and (max-width: 950px){
    .about{
        margin-left: 0;
        margin-right: 0;
    }

    .about-daily{
        margin-left: 0;
        margin-right: 0;
    }

    .about-rivera{
        margin-left: 0;
        margin-right: 0;
    }

    .about-title h2{
        font-size: 35px;
    }
}

@media only screen and (max-width: 600px){
    .about-title{
        width: 15%;
    }

    .about-pages, .about-pages-rivera, .about-pages-daily{
        width: 85%;
    }

    .about-title h2{
        color: red;
        font-size: 60px;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        letter-spacing: 10px;
    }
}
