body{
    padding: 0;
    margin: 0;
}

header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    background-size: cover;
    color: white;
}

.about{
    height: 300vh;
    display: flex;
}

.about-title{
    width: 35%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 0!important;
}

.about-pages{
    width: 65%;
}

.about-pages div{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.about-pages div p{
    width: 80%;
    font-size: 18px;
    line-height: 30px;
}

.about-pages div:nth-child(1){
    background-color: rgb(56,134,89);
}

.about-pages div:nth-child(2){
    background-color: rgb(129,42,110);
}

.about-pages div:nth-child(3){
    background-color: rgb(31,88,107);
}



.about-rivera{
    height: 300vh;
    display: flex;
}

.about-title-rivera{
    width: 35%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 0!important;
}

.about-pages-rivera{
    width: 65%;
}

.about-pages-rivera div{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.about-pages-rivera div p{
    width: 80%;
    font-size: 18px;
    line-height: 30px;
}

.about-pages-rivera div:nth-child(1){
    background-color: rgb(56,134,89);
}

.about-pages-rivera div:nth-child(2){
    background-color: rgb(129,42,110);
}

.about-pages-rivera div:nth-child(3){
    background-color: rgb(31,88,107);
}


.about-daily{
    height: 300vh;
    display: flex;
}

.about-title-daily{
    width: 35%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border: 3px solid black;
    margin: 0!important;
}

.about-pages-daily{
    width: 65%;
}

.about-pages-daily div{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.about-pages-daily div p{
    width: 80%;
    font-size: 18px;
    line-height: 30px;
}

.about-pages-daily div:nth-child(1){
    background-color: rgb(56,134,89);
}

.about-pages-daily div:nth-child(2){
    background-color: rgb(129,42,110);
}

.about-pages-daily div:nth-child(3){
    background-color: rgb(31,88,107);
}

footer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}
